html,
body {
  box-sizing: border-box;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 62.5%;
}

::selection {
  background-color: rgb(255, 214, 204);
}

.body {
  padding: 2rem !important;
  background-color: rgb(162, 162, 223);
  font-family: 'Courier New', Courier, monospace;
}

.title {
  text-align: center;
  text-transform: uppercase;
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  img {
    width: 30rem;
  }
}

#quiz {
  max-width: 100rem;
  margin: auto;
  display: grid;
  font-size: 1.75rem;
  // grid-gap: 1rem;
}

@media (min-width: 400px) {
  #quiz {
    grid-template-columns: 1fr 1fr;
  }
}

.question {
  padding: 1.5rem;
}

.questionAsked {
  font-weight: bold;
}

input, label {
  // height: 1rem;
  margin: .2rem;
  vertical-align: middle;
}

#submit {
  font-size: 3rem;
  display: block;
  div {
    margin: auto;
    background-color: antiquewhite;
    width: 30rem;
    text-align: center;
    padding: 1rem;
  }
}

#results {
  max-width: 100rem;
  font-size: 4rem;
  margin: auto;
  text-align: center;
}