html,
body {
  box-sizing: border-box;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 62.5%;
}

::selection {
  background-color: rgb(255, 214, 204);
}

.body {
  padding: 2rem !important;
  background-color: rgb(162, 162, 223);
  font-family: 'Courier New', Courier, monospace;
}

.title {
  text-align: center;
  text-transform: uppercase;

  img {
    width: 10rem;
  }
}

#quiz {
  max-width: 40rem;
  margin: auto;
  display: grid;
  // grid-gap: 1rem;
}

@media (min-width: 400px) {
  #quiz {
    grid-template-columns: 1fr 1fr;
  }
}

.question {
  padding: 1.5rem;
}

.questionAsked {
  font-weight: bold;
}

input, label {
  // height: 1rem;
  margin: .2rem;
  vertical-align: middle;
}